In [2]:
import pandas as pd
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df
# 왼쪽은 행 오른쪽은 열이라고 생각
# Ex) df.iloc[0,1]은 0번째행 1번째 열 왜? comma 있기 때문에 행과 열 구분
# 근데 df.iloc[[0,1]] 은 []리스트로 묶여있기에 0행과 1행 추출
# iloc,loc는 행 추출 메소드이기 때문에 디폴트가 행 추출임
# 콤마가 들어가면 열이 추가된다!!

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [3]:
type(df.iloc[0])

pandas.core.series.Series

In [5]:
df.iloc[0]    # 0번째 행 1개만 써서 series 형식으로 나옴

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [7]:
df.iloc[[0]]   # 0번째 행 리스트형으로 묶었기 때문에 dataframe 형식으로 나옴

   a  b  c  d
0  1  2  3  4

In [9]:
type(df.iloc[[0]])

pandas.core.frame.DataFrame

In [14]:
df.iloc[[0,1]]    # 0행~1행을 보여줌

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [28]:
df.iloc[:3]   # 처음부터 2번째 까지 행을 보여줌

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [18]:
df.iloc[[True,False,True]] # 1번째 행 빼고 0번째와 2번째만 추출

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [20]:
df.iloc[0,1]   # series 형식이기에 0번째 행의 1번째 열 추출

2

In [26]:
df.iloc[[0,2],[1,3]]  # 0,2 행과 1,3 열이 겹치는 곳이 나옴.

      b     d
0     2     4
2  2000  4000

In [24]:
df.iloc[1:3,0:3]   # 1,2번째 행과 0,1,2 열 추출

      a     b     c
1   100   200   300
2  1000  2000  3000

In [25]:
df.iloc[:,[True,False,True,False]]

      a     c
0     1     3
1   100   300
2  1000  3000