In [1]:
import pandas as pd

df=pd.read_csv('./../data/gapminder.tsv',sep='\t')

In [2]:
print(df.groupby('continent')['year'].count()) #continent의 year 세는 함수

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
Name: year, dtype: int64

In [8]:
# for 적용해서 결과 확인
conList = df['continent'].unique()

for i in conList:     # for 문을 통해 했던 알고리즘 반증하기
    print(i, '\n=====> 1')  
    sCon = df[df['continent']==i]   # i와 같은 continent (ex: Asia) 묶기
    print(len(sCon),'\n=====> 2 \n:',sCon.head(3),'\n=====> 3 \n:', sCon.shape)
    print(sCon['year'].count())

Asia
=====> 1
396
=====> 2
:        country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
=====> 3
: (396, 6)
396
Europe
=====> 1
360
=====> 2
:     country continent  year  lifeExp      pop    gdpPercap
12  Albania    Europe  1952    55.23  1282697  1601.056136
13  Albania    Europe  1957    59.28  1476505  1942.284244
14  Albania    Europe  1962    64.82  1728137  2312.888958
=====> 3
: (360, 6)
360
Africa
=====> 1
624
=====> 2
:     country continent  year  lifeExp       pop    gdpPercap
24  Algeria    Africa  1952   43.077   9279525  2449.008185
25  Algeria    Africa  1957   45.685  10270856  3013.976023
26  Algeria    Africa  1962   48.303  11000948  2550.816880
=====> 3
: (624, 6)
624
Americas
=====> 1
300
=====> 2
:       country continent  year  lifeExp       pop    gdpPercap
48  Argentina  Americas  1952   62.485  17876956  5911.315053
49  Argentina  Americas  1957   64.399  19610538  6856.856212
50  Argentina  Americas  1962   65.142  21283783  7133.166023
=====> 3
: (300, 6)
300
Oceania
=====> 1
24
=====> 2
:       country continent  year  lifeExp       pop    gdpPercap
60  Australia   Oceania  1952    69.12   8691212  10039.59564
61  Australia   Oceania  1957    70.33   9712569  10949.64959
62  Australia   Oceania  1962    70.93  10794968  12217.22686
=====> 3
: (24, 6)
24