In [1]:
import pandas

In [2]:
df=pandas.read_csv('./../data/gapminder.tsv',sep='\t')

In [3]:
df.head(3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [4]:
df.shape

(1704, 6)

In [5]:
loc00 = df.loc[0]

In [10]:
print(loc00) ; type(loc00)

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

pandas.core.series.Series

In [11]:
df.loc[90:100]

        country continent  year  lifeExp       pop     gdpPercap
90      Bahrain      Asia  1982   69.052    377967  19211.147310
91      Bahrain      Asia  1987   70.750    454612  18524.024060
92      Bahrain      Asia  1992   72.601    529491  19035.579170
93      Bahrain      Asia  1997   73.925    598561  20292.016790
94      Bahrain      Asia  2002   74.795    656397  23403.559270
95      Bahrain      Asia  2007   75.635    708573  29796.048340
96   Bangladesh      Asia  1952   37.484  46886859    684.244172
97   Bangladesh      Asia  1957   39.348  51365468    661.637458
98   Bangladesh      Asia  1962   41.216  56839289    686.341554
99   Bangladesh      Asia  1967   43.453  62821884    721.186086
100  Bangladesh      Asia  1972   45.252  70759295    630.233627

In [12]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [13]:
df.tail(3)

       country continent  year  lifeExp       pop   gdpPercap
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
# -1 과 같이 인덱스에 없는 값을 사용하면 오류가 발생
print(df.loc[-1])

In [14]:
len(df)

1704