In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2],[4,5],[7,8]],
                 index = ['cobra','viper','sidewinder'],
                 columns=['max_speed','shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc['viper']    # 라벨명(이름)으로 가져올 때 loc # 0번째 행으로 가져오고 싶어요 df.iloc[0]

max_speed    4
shield       5
Name: viper, dtype: int64

In [7]:
df.loc['cobra':'viper','max_speed']      # loc 라벨로 인덱싱했을때 뒤의 범위 포함

cobra    1
viper    4
Name: max_speed, dtype: int64

In [8]:
df.loc[[False,False,True]]   # cobra , viper는 False라 안나옴 sidewinder는 True라 나옴

            max_speed  shield
sidewinder          7       8

In [9]:
df.loc[df['shield']>6]

            max_speed  shield
sidewinder          7       8

In [13]:
df.loc[df['shield']>6,['max_speed']]  # shield가 6이상인 자의 max_speed

            max_speed
sidewinder          7