In [8]:
import pandas as pd
df = pd.DataFrame({'Animal':['Falcon','Falcon','Parrot','Parrot'],
                  'Max Speed':[380.,370.,24.,26.]})
df                               # . 찍으면 뒤에 소수점 나옴

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [6]:
df.groupby(['Animal']).mean()
# groupby : Animal로 똑같은 애들 묶을때 사용

        Max Speed
Animal
Falcon      375.0
Parrot       25.0