In [2]:
import pandas as pd

sawonDB = pd.read_csv('./../data/sawonDB.csv',header=None)
sawonDB.columns=['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr']
sawonDB = sawonDB.replace('\'','',regex=True)
print(sawonDB)

    sabun saname  deptno sajob  sapay       sahire sasex  samgr
0       1    홍길동      10    회장   5000   1980/01/01    남자   null
1       2    한국남      20    부장   3000   1988/11/01    남자      1
2       3    이순신      20    과장   3500   1985/03/01    남자      2
3       5    이순라      20    사원   1200   1990/05/01    여자      3
4       7    놀기만      20    과장   2300   1996/06/01    여자      2
5      11    뷰별나      20    과장   1600   1989/12/01    여자      2
6      14    채시라      20    사원   3400   1993/10/01    여자      3
7      17    이성계      30    부장   2803   1984/05/01    남자      1
8      13    무궁화      10    부장   3000   1996/11/01    여자      1
9      19    임꺽정      20    사원   2200   1988/04/01    남자      7
10     20    깨똥이      10    과장   4500   1990/05/01    남자     13
11      6    공부만      30    과장   4003   1995/05/01    남자     17
12      8    채송화      30    대리   1703   1992/06/01    여자     17
13      4    이미라      30    대리   2503   1983/04/01    여자     17
14     10    공부해      30    사원   1303   1988/11/01    남자      4
15     12    뷰명한      10    대리   1800   1990/10/01    남자     20
16      9    무궁화      10    사원   1100   1984/08/01    여자     12
17     15    최진실      10    사원   2000   1991/04/01    여자     12
18     16    김유신      30    사원    400   1981/04/01    남자      4
19     18    강감찬      30    사원   1003   1986/07/01    남자      4

In [3]:
# 문제 01
q1_lst88 = []
for idx in range(len(sawonDB)):
    q1_lst88.append(sawonDB['sahire'][idx][1:5]=='1988')
# sawonDB['sahire'][idx] 값을 슬라이싱을 통해 88년도 비교,
# loc로 출력해줄 것이기에 q1_lst88 리스트 변수에 True,False 저장
print(q1_lst88)
sawonDB.loc[q1_lst88]

[False, True, False, False, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False]

    sabun saname  deptno sajob  sapay       sahire sasex samgr
1       2    한국남      20    부장   3000   1988/11/01    남자     1
9      19    임꺽정      20    사원   2200   1988/04/01    남자     7
14     10    공부해      30    사원   1303   1988/11/01    남자     4

In [5]:
# 문제 01
q1_lst88 = []
for idx in range(len(sawonDB)):        # strip을 통해 공백 제거
    q1_lst88.append(sawonDB['sahire'].str.strip()[idx][0:4]=='1988')
# sawonDB['sahire'][idx] 값을 슬라이싱을 통해 88년도 비교,
# loc로 출력해줄 것이기에 q1_lst88 리스트 변수에 True,False 저장
sawonDB.loc[q1_lst88] # loc에서 True인 값만 출력

    sabun saname  deptno sajob  sapay       sahire sasex samgr
1       2    한국남      20    부장   3000   1988/11/01    남자     1
9      19    임꺽정      20    사원   2200   1988/04/01    남자     7
14     10    공부해      30    사원   1303   1988/11/01    남자     4