In [89]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [90]:
ages = list(range(0,90,10))

for x in ages:
    start = x
    end = x+10
    ageTemp = titanic[(titanic['age']>=start) & (titanic['age']<end)]
    print("{}세 이상 - {}세 미만 사망자수 :{}".format(start,end,(ageTemp['survived'].count())))

0세 이상 - 10세 미만 사망자수 :62
10세 이상 - 20세 미만 사망자수 :102
20세 이상 - 30세 미만 사망자수 :220
30세 이상 - 40세 미만 사망자수 :167
40세 이상 - 50세 미만 사망자수 :89
50세 이상 - 60세 미만 사망자수 :48
60세 이상 - 70세 미만 사망자수 :19
70세 이상 - 80세 미만 사망자수 :6
80세 이상 - 90세 미만 사망자수 :1

In [98]:
for x in ages:
    start = x
    end = x+10
    ageTemp = titanic[(titanic['age']>=start) & (titanic['age']<end)]
    samang = ageTemp[ageTemp['survived']==0]
    sex_group = samang.groupby('sex').count()
    print("{}세 이상 ~ {}세 미만 사망자수 :{}".format(start,end,samang['survived'].count()))
    print('여성 사망자 수: ', sex_group.loc['female','survived'])
    print('남성 사망자 수: ', sex_group.loc['male','survived'])
    print('='*40)
    print()
    #sex_group.loc['female','survived']
    #sex_group.loc['male','survived']
    # print('남성 생존자 수: %d',sex_group.loc['male','survived'].count())

0세 이상 ~ 10세 미만 사망자수 :24
여성 사망자 수:  11
남성 사망자 수:  13
========================================

10세 이상 ~ 20세 미만 사망자수 :61
여성 사망자 수:  11
남성 사망자 수:  50
========================================

20세 이상 ~ 30세 미만 사망자수 :143
여성 사망자 수:  20
남성 사망자 수:  123
========================================

30세 이상 ~ 40세 미만 사망자수 :94
여성 사망자 수:  10
남성 사망자 수:  84
========================================

40세 이상 ~ 50세 미만 사망자수 :55
여성 사망자 수:  10
남성 사망자 수:  45
========================================

50세 이상 ~ 60세 미만 사망자수 :28
여성 사망자 수:  2
남성 사망자 수:  26
========================================

60세 이상 ~ 70세 미만 사망자수 :13

KeyError: 'the label [female] is not in the [index]'

In [87]:
ages = list(range(0,90,10))

for x in ages:
    start = x
    end = x+10
    ageTemp = titanic[(titanic['age']>=start) & (titanic['age']<end)]
    print(ageTemp['sex'][ageTemp['survived']==0].count(),ageTemp['sex'][ageTemp['survived']==1].count())
    
    print("{}세 이상 - {}세 미만 사망자수 :{}".format(start,end,(ageTemp['sex'][ageTemp['survived']==0].count())))

24 38
0세 이상 - 10세 미만 사망자수 :24
61 41
10세 이상 - 20세 미만 사망자수 :61
143 77
20세 이상 - 30세 미만 사망자수 :143
94 73
30세 이상 - 40세 미만 사망자수 :94
55 34
40세 이상 - 50세 미만 사망자수 :55
28 20
50세 이상 - 60세 미만 사망자수 :28
13 6
60세 이상 - 70세 미만 사망자수 :13
6 0
70세 이상 - 80세 미만 사망자수 :6
0 1
80세 이상 - 90세 미만 사망자수 :0